<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一窗通进度跟踪</title>
    <link rel="stylesheet" type="text/css" href="/static/layui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/layer.js"></script>
	<script type="text/javascript" src="/static/layui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            msgs = "正在加载中";
            if (msgs) {
                layer.msg(msgs)
            }
        });
	</script>
</head>
<body>
    <iframe id="iframepage" src="{{ vnc_url }}" width="100%" height="100%" onload="changeFrameHeight()" frameborder="0" scrolling="no"></iframe>
</body>
<script type="application/javascript">
        //使ifrmae 高度自适应全屏
        function changeFrameHeight(){
            var ifm= document.getElementById("iframepage");
            ifm.height=document.documentElement.clientHeight;
        }

        window.onresize=function(){
            changeFrameHeight();
        }

</script>
</html>