<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在使用中</title>
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/layer.js"></script>
</head>
<body>
<script>
    //墨绿深蓝风
    text={{ text|safe}}
    layer.alert(text, {
        skin: 'layui-layer-molv' //墨绿框
        {#skin: 'layui-layer-lan' //深蓝框#}
        , closeBtn: 1
        , anim: 6 //动画类型
    });
</script>
</body>
</html>